<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="DsLinePackages1" value="https://nuget.pkg.github.com/DsLine-Microservices/index.json" />
        <add key="Package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <DsLinePackages1>
            <add key="Username" value="TokenGit" />
     	    <add key="ClearTextPassword" value="09b98d5c8bcc2345b23ba7560ddfd1c45d74dec4" />
        </DsLinePackages1>
    </packageSourceCredentials>
</configuration>